html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    max-width: 100% !important;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    line-height: 1.6;
    font-size: var(--text-base);
    overflow-x: hidden !important;
    max-width: 100vw !important;
    scroll-behavior: smooth;
}

.text-index{
    z-index: 999 !important;
}